* {
    margin: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    height: 100vh;
    width: 100%;
}


.grid-item {
    width: 100%;
  height: 100%;
  transition: transform 0.5s ease, background-color 0.5s ease;
}


.grid-item:hover {
  transform: scale(1.5) rotate(-45deg);
  background-color: #25ace1;
}


.grid-item:active {
  transform: scale(1.5) rotate(45deg);
  background-color: #ff0000;
}

.item1 { background-color: #03ef8d; } 
.item2 { background-color: #f7c317; }
.item3 { background-color: #b61313; } 
.item4 { background-color: #f119cd; } 
.item5 { background-color: #1bb413; } 
.item6 { background-color: #daf700; } 
.item7 { background-color: #FFA500; } 
.item8 { background-color: #0b96a2; } 
.item9 { background-color: #FFD700; } 
.item10 { background-color: #005eff; } 
.item11 { background-color: #00ffff; } 
.item12 { background-color: #ff7b00; } 
