body {
    background-color: rgb(165, 2, 2) !important;
    font-family: 'Georgia';
    text-align: left;
    color: rgb(255, 255, 255);
}
.container {
  max-width: 60ch; 
  margin: 0 auto;
  padding: 1em;
}

h1 {

    color: crimson;
  text-shadow: 2px 2px 10px black;
  font-size: 3em;
}

p {
    
  text-shadow: 2px 2px 10px black;
  
}

.center-text {
    text-align: center;
  }
a {
    color: #5ec8ff;

}

a:hover {
    color: white;
  }

 
  
  #hoverImage a:hover {
    background: url('https://i.imgur.com/QnPsUcY.gif') no-repeat center center; 
    background-size: cover;
    color: transparent; 
  }
