body {
    background-color: yellow !important;
    font-family: 'Comic Sans MS', cursive;
    text-align: center;
    color: limegreen;
}

#dust {
    border: 10px solid red;
    width: 80%;
    margin: auto;
    padding: 30px;
    opacity: 0.7;
}

.title {
    font-size: 70px;
    font-weight: bold;
    text-decoration: underline;
}

.actual-things {
    font-style: italic;
    background-image: url('https://www.publicdomainpictures.net/pictures/320000/velka/digital-noise.jpg');
    padding: 20px;
}

#highlight {
    color: yellow;
    font-size: 20px;
    background-color: purple;
}
